<div class="four wide column center aligned votes">
  <div class="ui statistic">
    <div class="value">
      {{ post.votos }}
    </div>
    <div class="label">
      Pontos
    </div>
  </div>
</div>
<div class="twelve wide column">
  <div class="ui large header">{{ post.titulo }}</div>
  <div>{{ post.descricao }}</div>
  <ul class="ui big horizontal list voters">
    <li class="item">
      <a href (click)="voteUp()">
        <i class="arrow up icon"></i>
        voto a favor
      </a>
    </li>
    <li class="item"> 
      <a href (click)="voteDown()">
        <i class="arrow down icon"></i>
        voto contra
      </a>
    </li>
  </ul>
</div>
