<form class="ui large form segment">
  <h3 class="ui header">Adiciona Post</h3>

  <div class="field">
    <label for="titulo">Título:</label>
    <input name="titulo" id="titulo" #novotitulo>  
  </div>
  <div class="field">
    <label for="descricao">Descrição:</label>
    <input name="descricao" id="descricao" #novadescricao> 
  </div>
 
  <!-- added this button -->
  <button (click)="addPost(novotitulo, novadescricao)"
          class="ui positive right floated button">
    Adicionar Post
  </button>

</form>

<div class="ui grid posts">
  <app-post
    *ngFor="let post of sortedPosts()"
    [post]="post">
  </app-post>
</div>